@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap:100,200,300,400,500,600,700');

header {
    margin:0;
}

/*--images styling--------------------------------------------------------------------------------------------------------- */
.hero-image{
    width: 100%;
    position: center;
    background-size: cover;
    background-position: center;
    background: no-repeat center center;
}

.hero-image2{
    width: 100%;
    background: no-repeat right right;
    margin-bottom: 30px;
}

.hero-image3{
    width: 100%;
    background: no-repeat right right;
    margin-bottom: 30px;
}

.bundoran-image{
    width: 10%;
    height: 200px;
    background: no-repeat center center;
}

.bundoran-image

/*--header styling-------------------------------------------------------------------------------------------------------- */
h2{
    font-family: "Oswald", sans-serif;
    color: rgb(39, 133, 101);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: auto;
}

h3{
   font-family: "Oswald", sans-serif;
    color:  rgb(39, 133, 101);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px; 
}

h4{
   font-family: "Oswald", sans-serif;
    color:  rgb(39, 133, 101);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;  
}

#logo{
    float: left;
    font-size: 280;
}

body{
    font-family: "Oswald",sans-serif;
    color: #777777;
    text-align: center;
    font-size: 16px;
    
}
/*--Paragraph styling------------------------------------------------------------------------------------------------------ */


.p1{
    max-width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.p2{
    padding-bottom: 30px;
    text-align: left;
    margin-left: 3%;
}

.p3{
    padding-bottom: 30px;
    text-align: left;
    margin-left: 3%;
}

.p4{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

/*--Fancybox styling------------------------------------------------------------------------------------------------------- */
/* .fancybox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
} */

/*--Footer styling-------------------------------------------------------------------------------------------------------- */
.container-fluid{
    background-color:#7777;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}

.footer-copyright{
    padding-top: 30px;
    padding-bottom: 30px;
}


.social-networks li{
    text-align: center;
    
}

.social-networks i{
    font-size: 160%;
}

.contact-list{
    float: right;
}


/*--Responsiveness-------------------------------------------------------------------------------------------------------- */


